<div class="col-md-12 page-header">
    <span class="pull-left">
        <h2><span class="glyphicon glyphicon-shopping-cart"></span>Shopping Cart</h2>
    </span>
</div>
<div class="col-md-12">
    <div class="" ng-if="user">
        <div ng-if="cartItems.length > 0">
            <div class="cartItem" ng-repeat="item in cartItems">
                <div class="col-md-2">
                    <div ng-repeat="image in item.product.images">
                        <img class="img-rounded"
                             ng-if="image.main_image === true"
                             src="{{media}}{{image.filename}}"
                             data-holder-rendered="true" style="width: 100%;">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>{{item.product.name}}</h4>
                </div>
                <div class="col-md-2">
                    <div class="col-md-8">
                        <input type="number" class="form-control" ng-model="item.qty"
                               ng-change="updateProductQty(item)">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        {{item.product.price}} {{currency}}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        {{item.product.price*item.qty}} {{currency}}
                    </div>
                </div>

                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <!-- Totals and Submit Order button-->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-3">
                        <span class="pull-right">
                            <strong>Cart Total: {{total()}} {{currency}}</strong>
                        </span>
                    </div>
                    <div class="col-md-3">
                        <span class="pull-right">
                             <a type="button"
                                ui-sref="checkout({locale: locale})"
                                ng-disabled="isDisabled"
                                class="pull-right btn btn-warning btn-lg">Proceed to Checkout</a>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="empty-cart-content" ng-if="cartItems.length == 0">
            <span>You have 0 items in your cart</span>
        </div>
    </div>
    <div class="" ng-if="!user">
        <span>You have to be an authenticated user, please log-in.</span>
    </div>
</div>
