<!-- Heading actions -->
<div class="col-md-12 page-header">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h2 style="margin:0">Settings</h2>
            </div>
            <div class="col-md-8 nav-buttons">
                <div class="pull-right">
                    </button>
                    <button type="submit"
                            class="btn btn-success"
                            ng-click="save()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal-edit" name="editForm" role="form">
            <tabset>
                <tab ng-repeat="(key, value) in settings.settings">
                    <tab-heading>
                        <i class="glyphicon glyphicon-globe"></i> {{key | uppercase}}
                    </tab-heading>
                    <div class="tab-content">
                        {{value}}
                    </div>
                </tab>
            </tabset>
        </form>
    </div>
</div>

<pre>
    {{settings.locale.available}}
</pre>