<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="homepage({locale: locale})">
                <img class="header-logo" src="/images/logo.png" title="Aisel"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="menuItem in topMenu">
                    <a ng-href="{{menuItem.meta_url}}">{{menuItem.name}}</a>
                </li>
            </ul>
            <ul class="user-navbar nav navbar-nav navbar-right" ng-controller="UserCtrl">

                <!-- Guests -->
                <li class="dropdown">
                    <a ui-sref="cart({locale: locale})">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Cart
                    </a>
                </li>

                <!-- Guests -->
                <li class="dropdown" ng-if="!user">
                    <a ui-sref="userInformation({locale: locale})"><span class="glyphicon glyphicon glyphicon-user"></span> My Dashboard</a>
                </li>

                <!-- Users -->
                <li class="dropdown" ng-if="user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="gavatar-navbar" gravatar-src="'{{ user.email }}'" gravatar-size="18">
                        {{ user.email }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="userInformation({locale: locale})">Dashboard</a></li>
                        <li><a ui-sref="orders({locale: locale})">Orders</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a ng-click="signOut()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-search ng-pristine ng-valid navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="text" ng-search-redirect="{{search}}"
                           ng-model="search" placeholder="search for ..."
                           class="search-query form-control">
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->


    </div>
</div>
