<div class="">
    <div class="col-xs-12 page-header">
        <h2>Product categories</h2>
        <p class=""><span class="glyphicon glyphicon-circle-arrow-left"></span> <a ui-sref="products({locale: item})">Back to products</a></p>
    </div>

    <div class="col-xs-12 col-md-12">
        <ul class="pageList">
            <li ng-repeat="category in productCategoryList.categories">
                <h2><a ui-sref="productCategoryView({locale: locale, categoryId:category.meta_url})" class="thumb">{{category.title}}</a></h2>

                <p ng-bind-html="category.description"></p>
                <hr/>
            </li>
        </ul>
        <div class="col-xs-6 col-md-6">
            <pagination ng-if="productCategoryList.total > 0" on-select-page="pageChanged(page)" items-per-page="{{pageLimit}}"
                        total-items="productCategoryList.total" page="paginationPage"></pagination>
        </div>
        <div class="col-xs-6 col-md-6">
            <p class="pagination-info pagination"><strong>Total categories: {{productCategoryList.total}} Current:
                {{paginationPage}}</strong></p>
        </div>
    </div>

</div>