<div class="">
    <div class="col-xs-12 page-header">
        <h2>Products</h2>
    </div>

    <div class="col-xs-12 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="col-md-12">
            <ul class="pageList">
                <li ng-repeat="product in productList.products">
                    <h2><a href="/{{locale}}/product/view/{{product.metaUrl}}/" class="thumb">{{product.name}}</a></h2>
                    <p ng-bind-html="product.description"></p>
                    <p><span class="glyphicon glyphicon-calendar"></span> {{product.createdAt | date:"MM/dd/yyyy @ h:mma"
                        }}</p>
                    <hr/>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-6">
            <pagination ng-if="productList.total > 0"
                        on-select-page="pageChanged(page)"
                        items-per-page="{{pageLimit}}"
                        total-items="pageList.total"
                        page="paginationPage"></pagination>
        </div>
        <div class="col-xs-6 col-md-6">
            <p class="pagination-info pagination"><strong>Total product: {{pageList.total}} Current:
                {{paginationPage}}</strong></p>
        </div>
    </div>
</div>