<div class="">
    <div class="col-xs-12 page-header">
        <h2>Products</h2>
        <p class=""><span class="glyphicon glyphicon-list-alt"></span> <a ng-href="/{{locale}}/product/categories/">View categories</a></p>
    </div>

    <div class="col-xs-12 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="sidebar" ng-include="'/app/Aisel/Product/views/sidebar.html'"></div>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="col-md-12">
            <ul class="pageList">
                <li ng-repeat="product in productList.products">
                    <h2><a href="/{{locale}}/product/view/{{product.metaUrl}}/" class="thumb">{{product.name}}</a></h2>

                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-thumbnail"
                                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9Ijc0LjA0Njg3NSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L2c+PC9zdmc+"
                                 data-holder-rendered="true" style="width: 100%;">
                        </div>
                        <div class="col-md-9">
                            <p><span class="glyphicon glyphicon-tags"></span>&nbsp;{{product.price}} {{currency}}</p>
                            <p ng-bind-html="product.description"></p>
                        </div>
                    </div>
                    <hr/>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-6">
            <pagination ng-if="productList.total > 0"
                        on-select-page="pageChanged(page)"
                        items-per-page="{{pageLimit}}"
                        total-items="pageList.total"
                        page="paginationPage"></pagination>
        </div>
        <div class="col-xs-6 col-md-6">
            <p class="pagination-info pagination"><strong>Total product: {{productList.total}} Current:
                {{paginationPage}}</strong></p>
        </div>
    </div>
</div>