<div class="">
        <div class="col-xs-12 page-header">
            <h2>{{productDetails.product.name}}</h2>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail"
                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9Ijc0LjA0Njg3NSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L2c+PC9zdmc+"
                 data-holder-rendered="true" style="width: 100%;">
        </div>
        <div class="col-md-8">
            <p><span class="glyphicon glyphicon-tags"></span> {{productDetails.product.price}}</p>
            <p><span class="glyphicon glyphicon-calendar"></span> {{productDetails.product.created_at | date:"MM/dd/yyyy @ h:mma" }}</p>
            <p ng-bind-html="productDetails.product.description"></p>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="related productCategories" ng-if="productDetails.categories">
                <hr/>
                <p><strong>Related categories: </strong></p>
                <ul class="categoryList">
                    <li ng-repeat="category in productDetails.categories">
                        <a ng-href="/{{locale}}/product/category/{{category.url}}">{{ category.title }}</a>
                    </li>
                </ul>
            </div>
            <div ng-if="showComments" disqus="productDetails.product.meta_url"></div>
        </div>
</div>

