<div class="col-xs-12 page-header">
    <h2>Products</h2>

    <p class=""><span class="glyphicon glyphicon-list-alt"></span> <a ui-sref="productCategories({locale: locale})">View
        categories</a></p>
</div>

<div class="col-xs-12 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="sidebar" ng-include="'/app/Aisel/Product/views/sidebar.html'"></div>
</div>
<div class="col-xs-12 col-md-9">
    <div class="col-md-12">
        <ul class="pageList">
            <li ng-repeat="product in collection.collection">
                <div class="row">
                    <div class="col-md-3">
                        <aisel-product-images
                                class="product-image"
                                slider="false"
                                img-style="img-rounded"
                                images="product.medias"
                        >
                        </aisel-product-images>
                    </div>
                    <div class="col-md-9">
                        <h2 style="margin-top: -5px">
                            <a ui-sref="productView({locale: locale, productId:product.meta_url})"
                               class="thumb">{{product.name}}
                            </a>
                        </h2>

                        <p>
                            <span class="glyphicon glyphicon-user"></span>
                            {{product.user.email | date:"MM/dd/yyyy @ h:mma" }}<br/>
                            <span class="glyphicon glyphicon-calendar"></span>
                            {{product.created_at | date:"MM/dd/yyyy @ h:mma" }}
                        </p>

                        <h3>
                            <span class="label label-warning">{{product.price}} {{currency}}</span>
                        </h3>

                        <p>{{product.content | limitTo: 600 }}</p>
                    </div>
                </div>
                <hr/>
            </li>
        </ul>
    </div>
    <div ng-include="'/app/Aisel/Kernel/views/pagination.html'"></div>
</div>

<div class="col-md-12 page-header">
    <h2>New products</h2>
</div>
<aisel-new-products limit="3"></aisel-new-products>