<div class="container">
    <div class="new-products">
        <div class="row">
            <div class="col-lg-4" ng-repeat="item in newProducts.collection">
                <aisel-product-images
                        class="new-product-image"
                        img-style="img-circle"
                        img-width="140"
                        img-height="140"
                        slider="false"
                        images="item.medias">
                </aisel-product-images>
                <h2>
                    <a ui-sref="productView({locale: locale, productId:item.meta_url})">
                       {{item.name}}
                    </a>
                </h2>
                <p>{{item.content | limitTo: 200 }}</p>
                <p>
                    <a class="btn btn-primary"
                      ui-sref="productView({locale: locale, productId:item.meta_url})"
                      role="button">
                        View Product
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>