<div ng-if="slider == false" ng-repeat="image in images">
    <img class="{{style}} product-image"
         ng-if="image.main_image === true"
         src="{{media}}{{image.filename}}"
         data-holder-rendered="true"
         style="width: {{width}}; height: {{height}}"
    />
</div>
<uib-carousel ng-if="slider" interval="interval" style="width: {{width}}; height: {{height}}">
    <uib-slide ng-repeat="image in images" active="image.main_image" no-wrap="false">
        <img class="{{style}} product-image"
             style="width: {{width}}; height: {{height}}"
             ng-src="{{media}}{{image.filename}}"
             data-holder-rendered="true"
        />
    </uib-slide>
</uib-carousel>