<div class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form class="form-horizontal"
                  name="passwordForm"
                  ng-submit="changePassword(passwordForm)">
                <div class="form-group">
                    <label for="registerPassword">Password</label>
                    <input type="password"
                           name="password"
                           class="form-control"
                           ng-minlength="6"
                           id="registerPassword"
                           ng-model="password"
                           ng-required="true">
            <span class="error"
                  ng-show="passwordForm.password.$error.minlength">Must be 6 or more chars!</span>

                </div>
                <div class="form-group">
                    <label for="registerPasswordRepeat">Password Repeat</label>
                    <input type="password"
                           name="confirm_password"
                           class="form-control"
                           id="registerPasswordRepeat"
                           ng-required="true"
                           ng-model="confirm_password"
                           ui-validate=" '$value==password' "
                           ui-validate-watch=" 'password' ">
                    <span ng-show='passwordForm.confirm_password.$error.validator'>Passwords do not match!</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Change password</button>
                </div>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>