<div class="col-md-12 page-header">
    <h2>Dashboard</h2>
</div>

<div class="col-md-9">
    <div class="row">
        <div ng-include="'/app/Aisel/User/views/information/account-information.html'"></div>

        <div class="col-md-12 page-header">
            <h2>About</h2>
        </div>
        <div ng-include="'/app/Aisel/User/views/information/edit.html'"></div>

        <div class="col-md-12 page-header">
            <h2>Password change</h2>
        </div>
        <div ng-include="'/app/Aisel/User/views/information/change-password.html'"></div>

        <div class="col-md-12 page-header">
            <h2>Delete account</h2>
        </div>
        <div ng-include="'/app/Aisel/User/views/information/delete-account.html'"></div>
    </div>
</div>
<div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="sidebar" ng-include="'/app/Aisel/User/views/sidebar.html'"></div>
</div>