<div class="">
    <div class="col-xs-12 page-header">
        <h2><span class="glyphicon glyphicon-user"></span> My Dashboard</h2>
        <p class=""><span class="glyphicon glyphicon-edit"></span>
            <a ui-sref="userInformationEdit({locale: locale})"> Edit account details</a></p>
    </div>

    <div class="" ng-if="user">
        <div class="col-sm-4">
            <h3>Account Details</h3>
            <img class="gavatar-userdetails" gravatar-src="'{{ user.email }}'" gravatar-size="200">
            <p> <strong><span class="glyphicon  glyphicon-calendar"></span> Last login</strong>: {{user.last_login | date:"MM/dd/yyyy @ h:mma" }}</p>
            <p> <strong><span class="glyphicon glyphicon-barcode"></span> ID</strong>: {{ user.id }}</p>
            <p> <strong><span class="glyphicon glyphicon-user"></span> Username</strong>: {{ user.username }}</p>
            <p> <strong><span class="glyphicon glyphicon-envelope"></span> E-mail</strong>: {{ user.email }}</p>
            <p> <strong><span class="glyphicon glyphicon-phone"></span> Phone</strong>: {{ user.phone }}</p>
            <p> <strong><span class="glyphicon glyphicon-globe"></span> Website</strong>: <a href="{{ user.website }}">{{ user.website }}</a> </p>
        </div>
        <div class="col-sm-5">
            <h3>Social Profiles</h3>
            <p ng-show="user.facebook">     <strong>Facebook</strong>:      <a href="{{ user.facebook }}">  {{ user.facebook }}</a> </p>
            <p ng-show="user.linkedin">     <strong>LinkedIn</strong>:      <a href="{{ user.linkedin }}">  {{ user.linkedin}} </a> </p>
            <p ng-show="user.twitter">      <strong>Twitter</strong>:       <a href="{{ user.twitter }}">   {{ user.twitter }}</a> </p>
            <p ng-show="user.googleplus">   <strong>Google Plus</strong>:   <a href="{{ user.googleplus }}">{{ user.googleplus }}</a> </p>
            <p ng-show="user.github">       <strong>Github</strong>:        <a href="{{ user.github }}">    {{ user.github }}</a> </p>
            <p ng-show="user.behance">      <strong>Behance</strong>:       <a href="{{ user.behance }}">   {{ user.behance }}</a> </p>
            <hr/>
            <h3>About me</h3>
            <p>{{ user.about }}</p>
        </div>
        <div class="col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar" ng-include="'/app/Aisel/User/views/sidebar.html'"></div>
        </div>
    </div>
</div>
