<div class="">
    <div class="col-xs-12 page-header">
        <h2>User Information</h2>
    </div>

    <div class="" ng-if="user">
        <div class="col-xs-12 col-sm-9">
            <p> <strong>Id</strong>: {{ user.id }}</p>
            <p> <strong>Username</strong>: {{ user.username }}</p>
            <p> <strong>E-mail</strong>: {{ user.email }}</p>
        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar" ng-include="'/app/Aisel/User/views/sidebar.html'"></div>
        </div>
    </div>
</div>
