/.idea/*
/.vagrant/*
/Aisel/node_modules/*

#Logs
/Aisel/npm-debug.log

#Frontend AngularJS
/Aisel/frontend/web/.htaccess
/Aisel/frontend/web/robots.txt
/Aisel/frontend/web/sitemap.xml
/Aisel/frontend/web/images/logo.png
/Aisel/frontend/web/bundles/*
/Aisel/frontend/web/bower_components/*
/Aisel/frontend/web/npm-debug.log
!/Aisel/frontend/web/media/product/.htaccess
/Aisel/frontend/web/photo/*
/Aisel/frontend/web/css/*
/Aisel/frontend/web/build/*

#Backend AngularJS
/Aisel/backend/web/.htaccess
/Aisel/backend/web/bower_components/*
/Aisel/backend/web/npm-debug.log
/Aisel/backend/web/build/*

#Symfony API
/Aisel/web/.htaccess
/Aisel/web/media/*
/Aisel/web/media/*/*
/Aisel/web/media/*/*/*
/Aisel/web/css/*
/Aisel/web/bundles/*
/Aisel/app/bootstrap.php.cache
/Aisel/var/*
/Aisel/app/config/parameters.yml
!/Aisel/app/cache/.gitkeep
!Aisel/app/logs/.gitkeep
/Aisel/build/
/Aisel/vendor/
/Aisel/bin/
/Aisel/composer.phar
/Aisel/composer.lock
/Aisel/Capfile
/Aisel/dist
/Aisel/.tmp
/Aisel/.sass-cache

