/app/bootstrap.php.cache
/app/cache/*
/app/var/*
/app/config/parameters.yml
/app/logs/*
/web/.htaccess
/web/robots.txt
/web/sitemap.xml
/web/images/logo.png
/web/bundles/*
/web/snapshots/*
/web/bower_components/*
/web/npm-debug.log
/web/media/product/*
!/web/media/product/.htaccess
/web/photo/*
/web/css/*
/web/build/*
!/app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock

Capfile
node_modules
dist
.tmp
.sass-cache