/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/web/bundles/*
/web/snapshots/*
/web/bower_components/*
!/app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
Capfile
node_modules
dist
.tmp
.sass-cache
