<div class="col-md-12 page-header">
    <h2><span class="glyphicon glyphicon-shopping-cart"></span>Checkout</h2>
</div>
<div class="col-md-12 checkout">
    <div class="" ng-if="user">
        <div ng-if="cartItems.length > 0">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal"
                          name="orderForm"
                          role="form"
                          autocomplete="off"
                          ng-submit="orderSubmit(orderForm)">

                        <div class="col-md-6">
                            <h4>Billing Address</h4>
                            <br/>

                            <div class="col-md-12" role="main">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text"
                                           name="billing_country"
                                           ng-model="checkout.selected.billing_country"
                                           class="form-control"
                                           id="country"
                                           tooltip="Please select your country"
                                           ng-model="country"
                                           autocomplete="off"
                                           typeahead="country.short_name for country in countries | filter:$viewValue | limitTo:8"
                                           typeahead-on-select="onSelectCountry($item)"
                                           ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="region">Region</label>
                                    <input type="text"
                                           id="region"
                                           name="billing_region"
                                           ng-model="checkout.selected.billing_region"
                                           autocomplete="off"
                                           class="form-control"
                                           tooltip="Please select or enter your region"
                                           typeahead="region.name for region in regions | filter:$viewValue | limitTo:8"
                                           typeahead-on-select="onSelectRegion($item)"
                                           ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="region">City</label>
                                    <input type="text"
                                           id="city"
                                           name="billing_city"
                                           ng-model="checkout.selected.billing_city"
                                           autocomplete="off"
                                           class="form-control"
                                           tooltip="Please select or enter your city"
                                           typeahead="city.name for city in cities | filter:$viewValue | limitTo:8"
                                           typeahead-on-select="onSelectCity($item)"
                                           ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Mobile phone</label>
                                    <input type="text"
                                           id="phone"
                                           name="billing_phone"
                                           ng-model="checkout.selected.billing_phone"
                                           class="form-control"
                                           tooltip="Please enter phone number"
                                           ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="billing_comment">Order Comments</label>
                                    <textarea
                                            id="billing_comment"
                                            name="billing_comment"
                                            ng-model="checkout.selected.billing_comment"
                                            class="form-control"
                                            rows="3"></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Payment Method</h4>
                            <br/>

                            <div class="col-md-12">
                            <span class="pull-left">
                                <div class="checkoutPaymentMethod"
                                     ng-repeat="(k, v) in checkout.settings.payment.methods">
                                    <input type="radio"
                                           ng-checked="$first"
                                           ng-model="checkout.selected.payment_method"
                                           name="payment_method" value="{{k}}">
                                    <span>{{v.name}}</span>
                                </div>
                            </span>
                            </div>
                            <div class="col-md-12" style="margin-top: 30px;">
                                <p>
                                    <strong>Order Total</strong>: {{getTotal()}} {{currency}}
                                </p>
                                <button
                                        type="submit"
                                        type="button"
                                        ng-disabled="isDisabled"
                                        class="btn btn-warning btn-lg">Place Order
                                </button>
                                <br/>
                                <br/>

                                <div class="well">
                                    A. To check how billing fields, please type: Spain, Madrid, Madrid<br/>
                                    B. For the development purposes only offline payment method allowed.<br/>
                                    Thanks!
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div class="empty-cart-content" ng-if="cartItems.length == 0">
            <span>You have 0 items in your cart</span>
        </div>
    </div>
    <div class="" ng-if="!user">
        <span>You have to be an authenticated user, please log-in.</span>
    </div>
</div>
