<form name="addReviewForm" role="form" ng-submit="addReview(title, content)">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
               ng-required="false"
               ng-model="title"
               class="form-control"
               id="title">
    </div>

    <h3>Content</h3>
    <textarea class="form-control"
              rows="8"
              ng-required="false"
              name="content"
              ng-model="content">
    </textarea>
    <br class="divider">

    <div class="input-group pull-left">
        <button type="submit"
                class="btn btn-primary">
            Submit Review
        </button>
    </div>
</form>