<div class="container">
    <div class="new-pages">
        <div class="row">
            <div class="col-lg-4" ng-repeat="item in newPages.collection">
                <h2>
                    <a ui-sref="pageView({locale: locale, pageId:item.meta_url})">
                        {{item.name}}
                    </a>
                </h2>
                <p>{{item.content | limitTo: 200 }}</p>
                <p>
                    <a class="btn btn-primary"
                      ui-sref="pageView({locale: locale, pageId:item.meta_url})"
                      role="button">
                        View Page
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>