/*
 * This file is part of the Aisel package.
 *
 * (c) Ivan Proskuryakov
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.aisel_config_settings_modify button {
    margin-top: 20px;
}

.box.update {
    border-top: 0;
}

table.fancytree-ext-table tbody tr.fancytree-active {
    background-color: #fff !important;
}

table.fancytree-ext-table *:focus {
    -moz-box-shadow: 0 0 1px rgba(82, 168, 236, 1);
    box-shadow: 0 0 1px rgba(82, 168, 236, 1);
    padding-right: 10px;
}

.nodetree-container span.fancytree-icon {
    position: relative;
}

.nodetree-container span.fancytree-childcounter {
    color: #fff;
    background: rgba(246, 22, 0, 0.93);
    position: absolute;
    top: -11px;
    right: -6px;
    min-width: 17px;
    height: 17px;
    line-height: 1;
    vertical-align: baseline;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    font-size: 10px;
}

.nodetree-container .table-actions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainImage {
    margin-bottom: 80px;
    clear: both;
    float: left;
    display: inline-block;
}

.additionalImages {
    clear: both;
}

/*
* Additional styles for IphpFileStoreBundle
*/
.iphp_file_widget_container {
    margin-bottom: 20px;
}

.iphp_file_widget_file {
    clear: both;
}

.iphp_file_widget_attach {
    clear: both;
    margin-top: 10px;
}

.iphp_file_widget_delete {
    width: auto;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.productMainImage-container {
}

.productMainImage-container .productMainImage-href {
    width: 125px;
    display: inline-block;
}

.productMainImage-container .productMainImage {
    height: 100%;
    width: 100%;
}

.productMainImage-noimage {
    padding: 2px 6px;
    font-size: 10px;
    background: #868686;
    color: #fff;
    border-radius: 4px;
}

/* AiselConfigBunfle classes*/
.aisel-config-bunle {
    margin-top: -20px;
}

.aisel-settings-locale {
    background: #fff;
}

.aisel-settings-locale.nav.nav-pills > li.active > a,
.aisel-settings-locale.nav.nav-pills > li.active > a:hover {
    background-color: #3c8dbc;
    border-top-color: #3c8dbc;
    color: #fff;
}

.aisel-settings-locale.nav-pills > li {
    float: right;
}

.aisel-sidebar-copyright {
    color: #999;
    position: absolute;
    left: 25px;
    bottom: 10px;
    font-size: 12px;
}

body .right-side {
    margin-left: 0 !important;
}

body > .header .logo {
    width: 120px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
}

body > .header .navbar {
    margin-left: 0;
    padding-left: 20px;
}

body > .header .logo span {
    width: 80px;
}

body .dashboard .box {
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-top: 0;
}