.aisel_config_settings_modify button {
    margin-top: 20px;
}

.box.update {
    border-top: 0;
}

table.fancytree-ext-table tbody tr.fancytree-active {
    background-color: #fff !important;
}

table.fancytree-ext-table *:focus {
    /*border: none;*/
    /*box-shadow: none;*/
    /*border-color: rgba(82,168,236,.8);*/
    /*outline: 0;*/
    /*outline: thin dotted \9;*/
    -moz-box-shadow: 0 0 1px rgba(82,168,236,1);
    box-shadow: 0 0 1px rgba(82,168,236,1);
    padding-right: 10px;
}