<div ng-include="'/app/Aisel/Kernel/views/edit/heading.html'"></div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal-edit" name="editForm" role="form">
            <tabset>

                <!-- General -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-font"></i> General Information
                    </tab-heading>
                    <div class="tab-content">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text"
                                   name="name"
                                   id="name"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="item.name">
                        </div>
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/locale.html'"></ng-include>
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/nodes-parent.html'"></ng-include>
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/status.html'"></ng-include>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea
                                    name="description"
                                    id="description"
                                    class="form-control"
                                    ng-required="true"
                                    ng-model="item.description"></textarea>
                        </div>
                    </div>
                </tab>

                <!-- Meta -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-list"></i> Meta
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/meta.html'"></ng-include>
                    </div>
                </tab>

                <!-- Dates -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-calendar"></i> Dates
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/dates.html'"></ng-include>
                    </div>
                </tab>
            </tabset>
        </form>
    </div>
</div>