<table id="adminNodeTree" class="table table-bordered table-striped col-md-12">
    <colgroup>
        <col class="col-md-0"></col>
        <col class="col-md-0"></col>
        <col class="col-md-6"></col>
        <col class="col-md-5"></col>
        <col class="col-md-1"></col>
    </colgroup>
    <thead>
    <tr>
        <th>Id</th>
        <th>Locale</th>
        <th>Title</th>
        <th>Url</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">
var editNode = function (id) {
    angular.element(document.getElementById('dynamic-content')).scope().editNode(id);
};

$(document).ready(function () {
    setTimeout(function () {

        var routeCategoryAjaxUpdate = angular.element(document.getElementById('dynamic-content')).scope().categoryUpdate;
        var categoryJson = angular.element(document.getElementById('dynamic-content')).scope().categoryJson;

        $("#adminNodeTree").fancytree({
            extensions: ["edit", "dnd", "table", "gridnav", "glyph", "filter", "childcounter"],
            childcounter: {
                deep: true,
                hideZeros: true,
                hideExpanded: true
            },
            checkbox: false,
            titlesTabbable: true,     // Add all node titles to TAB chain
            source: {
                url: categoryJson,
                cache: false
            },
            selectMode: 2,
            filter: {
                mode: "hide"
            },
            glyph: {
                map: {
                    doc: "glyphicon glyphicon-file",
                    docOpen: "glyphicon glyphicon-file",
                    checkbox: "glyphicon glyphicon-unchecked",
                    checkboxSelected: "glyphicon glyphicon-check",
                    checkboxUnknown: "glyphicon glyphicon-share",
                    error: "glyphicon glyphicon-warning-sign",
                    expanderClosed: "glyphicon glyphicon-plus-sign",
                    expanderLazy: "glyphicon glyphicon-expand",
                    expanderOpen: "glyphicon glyphicon-minus-sign",
                    // expanderOpen: "glyphicon glyphicon-collapse-down",
                    folder: "glyphicon glyphicon-folder-close",
                    folderOpen: "glyphicon glyphicon-folder-open",
                    //                loading: "glyphicon glyphicon-refresh",
                    loading: "icon-spinner icon-spin"
                }
            },

            dnd: {
                preventVoidMoves: true,
                preventRecursiveMoves: true,
                autoExpandMS: 400,
                dragStart: function (node, data) {
                    return true;
                },
                dragEnter: function (node, data) {
                    // return ["before", "after"];
                    return true;
                },
                dragDrop: function (node, data) {
                    data.otherNode.moveTo(node, data.hitMode);

                    var categoryId = data.otherNode.data.id;
                    var categoryParentId = node.data.id;

                    $.get(routeCategoryAjaxUpdate, {
                        action: 'dragDrop',
                        id: categoryId,
                        parentId: categoryParentId}
                    )
                    .done(function (data) {
//                                console.log('AJAX done');
                    });

                }
            },
            edit: {
                triggerStart: ["f2", "dblclick", "shift+click", "mac+enter"],
                beforeClose: function (event, data) {
                    // Return false to prevent cancel/save (data.input is available)
                },
                beforeEdit: function (event, data) {
                    // Return false to prevent edit mode
                },
                close: function (event, data) {
                    // Editor was removed
                    var categoryUrl = data.node.data.url;
                    var categoryId = data.node.data.id;
                    var categoryTitle = data.node.title;

                    $.get(routeCategoryAjaxUpdate, {
                        action: 'save',
                        name: categoryTitle,
                        id: categoryId,
                        url: categoryUrl
                    })
                    .done(function (data) {
                        console.log('AJAX done');
                    });
                },
                edit: function (event, data) {
                    // Editor was opened (available as data.input)
                },
                save: function (event, data) {
                }
            },
            table: {
                indentation: 20,
                nodeColumnIdx: 2,
                //            checkboxColumnIdx: 0
            },
            gridnav: {
                autofocusInput: false,
                handleCursorKeys: true
            },

            renderColumns: function (event, data) {
                var node = data.node;
                var $select = $("<select data-id='" + node.key + "' id='category-" + node.key + "' class='category-action form-control' />");
                var $tdList = $(node.tr).find(">td");

                $tdList.eq(0).text(node.data.id).addClass("alignRight");
                $tdList.eq(1).html(node.data.locale);
                $tdList.eq(3).html("<input type='input' disabled class='form-control' value='" + node.data.meta_url + "'>");
                $tdList.eq(4).html('<button ' +
                'class="btn btn-link"' +
                'onclick="editNode(' + node.data.id + ')">' +
                '<span class="glyphicon glyphicon-edit"></span> edit</button>');
            }
        }).on("nodeCommand", function (event, data) {
            var refNode, moveMode,
                    tree = $(this).fancytree("getTree"),
                    node = tree.getActiveNode();

            switch (data.cmd) {
                case "moveUp":
                    node.moveTo(node.getPrevSibling(), "before");
                    node.setActive();
                    break;
                case "moveDown":
                    node.moveTo(node.getNextSibling(), "after");
                    node.setActive();
                    break;
                case "indent":
                    refNode = node.getPrevSibling();
                    node.moveTo(refNode, "child");
                    refNode.setExpanded();
                    node.setActive();
                    break;
                case "outdent":
                    node.moveTo(node.getParent(), "after");
                    node.setActive();
                    break;
                case "rename":
                    node.editStart();
                    break;
                case "remove":
                    var categoryId = node.data.id;
                    $.get(routeCategoryAjaxUpdate, {
                        action: 'remove',
                        id: categoryId
                    })
                    .done(function (data) {
                        console.log('AJAX done');
                    });
                    node.remove();

                    break;
                case "addChild":
                    refNode = node.addChildren({
                        title: "New children",
                        url: "/",
                        isNew: true
                    });
                    node.setExpanded();
                    refNode.editStart();

                    var categoryId = node.data.id;
                    var categoryTitle = refNode.title;

                    $.get(routeCategoryAjaxUpdate, {
                        action: 'addChild',
                        name: categoryTitle,
                        parentId: categoryId
                    }).done(function (data) {
                        console.log('AJAX done');
                    });
                    break;

                case "addSibling":
                    refNode = node.getParent().addChildren({
                        title: "New sibling",
                        url: "/",
                        isNew: true
                    }, node.getNextSibling());

                    var categoryTitle = refNode.title;
                    $.get(routeCategoryAjaxUpdate, {action: 'addSibling', name: categoryTitle})
                            .done(function (data) {
                                console.log('AJAX done');
                            });
                    refNode.editStart();
                    break;
                default:
                    alert("Unhandled command: " + data.cmd);
                    return;
            }

        });

        $("#adminNodeTree").contextmenu({
                delegate: "span.fancytree-title",
                menu: [
                    {title: "Rename", cmd: "rename", uiIcon: "ui-icon-pencil"},
                    {title: "Remove", cmd: "remove", uiIcon: "ui-icon-trash"},
                    {title: "----"},
                    {title: "Add Sibling", cmd: "addSibling", uiIcon: "ui-icon-plus"},
                    {title: "Add Child", cmd: "addChild", uiIcon: "ui-icon-arrowreturn-1-e"},],
                beforeOpen: function (event, ui) {

                    var node = $.ui.fancytree.getNode(ui.target);
                    $("#adminNodeTree").contextmenu("enableEntry", "paste", false);
                    node.setActive();

                },
                select: function (event, ui) {
                    var that = this;
                    // delay the event, so the menu can close and the click event does
                    // not interfere with the edit control
                    setTimeout(function () {
                        $(that).trigger("nodeCommand", {cmd: ui.cmd});
                    }, 100);
                }
            }
        );

        $("#btnExpandAll").click(function () {
            $("#adminNodeTree").fancytree("getTree").visit(function (node) {
                node.setExpanded(true);
            });
        });
        $("#btnCollapseAll").click(function () {
            $("#adminNodeTree").fancytree("getTree").visit(function (node) {
                node.setExpanded(false);
            });
        });
    }, 0);
});
</script>
