.cg-notify-message {

    /*position: fixed;*/
    /*left: 50%;*/
    /*width: 300px;*/
    /*margin-left: -150px;*/
    /*text-align: center;*/

    /*top: -50px;*/
    /*z-index: 9999;*/
    /*padding: 5px 15px;*/
    /*background-color: rgba(255, 191, 0, 1);*/
    /*border-radius: 5px;*/
    /*font-size: 1em;*/
    /*font-weight: bold;*/
    /*padding: 2px 8px 2px 8px;*/
    /*-webkit-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;*/
    /*-moz-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;*/
    /*-o-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;*/
    /*transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;*/

    position: fixed;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;

    top: -50px;
    z-index: 9999;
    border: 1px solid rgb(240, 195, 109);
    background-color: rgb(249, 237, 190);
    font-size: 13px;
    font-weight: bold;
    padding: 2px 8px 2px 8px;
    -webkit-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
    -moz-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
    -o-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
    transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
}

