#flash-messages {
    position: fixed;
    background-color: rgba(255, 191, 0, 0.75);
    padding: 5px 15px;
    display: inline-block;
    text-align: center;
    width: 300px;
    top: 60px;
    left: 50%;
    margin-left: -150px;
    border-radius: 5px;
    font-size: 1em;
    z-index: 9999;
    list-style: none;
}
.slide-down { display: none !important; }
.slide-down.ng-hide-remove {
    display: block !important;
    animation:
        slide-down-enter 250ms ease-out,
        slide-down-leave 500ms 3s ease;
}
@keyframes slide-down-enter {
    from { opacity: 0; transform: translateY(-75%); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes slide-down-leave {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(75%); }
}