/*
    Loading messages
*/

.cg-notify-message {
    position: fixed;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;

    top: -50px;
    z-index: 9999;
    border: 1px solid rgb(240, 195, 109);
    background-color: rgb(249, 237, 190);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px 2px 8px;
    -webkit-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
    -moz-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
    -o-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
    transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
}

.loading-interceptor {
    position: fixed;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    text-align: center;

    top: 0px;
    z-index: 9999;
    border: 1px solid rgb(240, 195, 109);
    background-color: rgb(249, 237, 190);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px 2px 8px;
    -webkit-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
    -moz-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
    -o-transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
    transition: top 0.5s ease-out,opacity 0.5s ease-out 4s;
}

/*
    Header
*/
.navbar-brand {
    padding: 7px;
}

/*
    General
*/

.featurette-divider {
    margin: 80px 0;
}

.website-content {
    min-height: 500px;
}

.categoryList {
    list-style: none;
    padding-left: 10px;
}

.featurette-divider {
    margin: 80px 0;
}

/*
    Footer
*/
.website-footer {
    margin-top: 20px;
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}