parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     aisel
    database_user:     root
    database_password: ~
    website_address:   http://sandbox.aisel.co

    mailer_transport:  gmail
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
