parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     aisel
    database_user:     root
    database_password: ~

    mailer_transport:  gmail
    mailer_user:       ~
    mailer_password:   ~
    website_email: ~

    website_address:   http://ecommerce.aisel.co
    locale: en
    locales: en|es|ru
    secret:            SecretTokenAisel

    #   Note:
    #   Locales & locale parameter only
    #   2 symbols(ISO2), otherwise you
    #   will need to change filed length
    #   in database.