<div class="categoryTree" ng-if="categoryTree">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Browse by Category</div>

        <div class="panel-body">
            <div class="categoryTree">
                <script type="text/ng-template" id="field_renderer.html">
                    <a id="link-6" ng-href="/#/{{locale}}/page/category/{{ category.url}}/">{{ category.title}}</a>

                    <ul>
                        <li ng-repeat="category in category.children" ng-include="'field_renderer.html'"></li>
                    </ul>
                </script>
                <ul>
                    <li ng-repeat="category in categoryTree" ng-include="'field_renderer.html'"></li>
                </ul>
            </div>
        </div>
    </div>
</div>