{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}
        {% if object.parent %}
            {% if object.parent.children[0].id != object.id %}
                <a href="{{ path('projectx_category_tree_up', {'id': object.id}) }}">
                    <img src="{{ asset('bundles/sonataadmin/famfamfam/arrow_up.png') }}" alt="{% trans %}Up{% endtrans %}" />
                </a>
            {% endif %}
        {% endif %}
    {% endspaceless %}
    {% spaceless %}
        {% if object.parent %}
            {% if object.parent.children[object.parent.children|length - 1].id != object.id %}
                <a href="{{ path('projectx_category_tree_down', {'id': object.id}) }}">
                    <img src="{{ asset('bundles/sonataadmin/famfamfam/arrow_down.png') }}" alt="{% trans %}Down{% endtrans %}" />
                </a>
            {% endif %}
        {% endif %}
    {% endspaceless %}

{% endblock %}