{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}
        {% set padding = object.lvl * 30 %}
        <a style="padding-left: {{ padding }}px" href="">{{ object.title }}</a>
    {% endspaceless %}


{% endblock %}