<div ng-include="'/app/Aisel/Kernel/views/edit/heading.html'"></div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal-edit" name="editForm" role="form">
            <tabset>

                <!-- General -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-font"></i> General Information
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/status.html'"></ng-include>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <input type="text"
                                   name="content"
                                   id="content"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="item.content">
                        </div>
                        <div class="form-group">
                            <label for="currency">Currency</label>
                            <input type="text"
                                   name="currency"
                                   id="currency"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="item.currency">
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text"
                                   name="country"
                                   id="country"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="item.country">
                        </div>
                        <div class="form-group">
                            <label for="region">Region</label>
                            <input type="text"
                                   name="region"
                                   id="region"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="item.region">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text"
                                   name="city"
                                   id="city"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="item.city">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text"
                                   name="phone"
                                   id="phone"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="item.phone">
                        </div>
                        <div class="form-group">
                            <label for="payment_method">Payment Method</label>
                            <input type="text"
                                   name="payment_method"
                                   id="payment_method"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="item.payment_method">
                        </div>
                    </div>
                </tab>

                <!-- Dates -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-shopping-cart"></i> Cart
                    </tab-heading>
                    <div class="tab-content">
                        <!-- Order Items -->
                        <div class="cartItem" ng-repeat="productItem in item.item">
                            <div ng-if="productItem.product">
                                <div class="col-md-2">
                                    #{{productItem.product.id}}
                                </div>
                                <div class="col-md-8">
                                    {{productItem.product.name}}
                                </div>
                                <div class="col-md-2">
                                    {{productItem.product.price}} {{item.currency}}
                                </div>
                                <div class="col-md-12">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>

                <!-- Dates -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-calendar"></i> Dates
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/dates.html'"></ng-include>
                    </div>
                </tab>
            </tabset>
        </form>
    </div>
</div>