{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<form method="post" class="aisel_config_settings_modify" {{ form_enctype(form) }}>
	{{ form_errors(form) }}

	{{ form_rest(form) }}

    {{ form_widget(form) }}
</form>
