<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header" ng-controller="MainCtrl">
            <a class="navbar-brand" style="padding: 9px;"  href="#!"><img src="images/logo_x32.png" title="Aisel"></a>

            <ul class="nav navbar-nav">
                <li ng-repeat="menuItem in navigationMenu">
                    <a ng-href="{{menuItem.url}}">{{menuItem.title}}</a>
                </li>
            </ul>

        </div>

        <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
                <input type="text" ng-search-redirect="{{search}}" ng-model="search" placeholder="Enter query ..." class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>

            <!--<div class="btn-group">-->
                <!--<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">-->
                    <!--Account <span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">Sign In</a></li>-->
                    <!--<li><a href="#">Register</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Create Account</a></li>
                </ul>

            </li>
        </ul>

    </div>
</div>


<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>