<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header" ng-controller="MainCtrl">
            <a class="navbar-brand" style="padding: 9px;"  href="#!"><img src="images/logo_x32.png" title="Aisel"></a>

            <ul class="nav navbar-nav">
                <li ng-repeat="menuItem in navigationMenu">
                    <a ng-href="{{menuItem.url}}">{{menuItem.title}}</a>
                </li>
            </ul>

        </div>

        <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
                <input type="text"a ng-search-redirect="{{search}}" ng-model="search" placeholder="Enter query ..." class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right" ng-controller="UserCtrl">

            <!-- Guests -->
            <li class="dropdown" ng-if="!loggedIn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guest<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="open();" >Sign In</a></li>
                    <li><a ng-href="#!/user/register/">Create Account</a></li>
                </ul>
            </li>

            <!-- Users -->
            <li class="dropdown" ng-if="loggedIn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-href="#!/user/information/">View Account</a></li>
                    <li><a ng-click="signOut()" >Sign Out</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>