{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="{{ type }}">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endfor %}
{% block aisel_config_content %}
{% endblock %}
