<div ng-if="user" class="homepage-content" style="padding: 60px;">

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="page-header">
                <h2 style="margin:0">Dashboard</h2>
            </div>
            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Email: {{user.email}}</p>
            <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Last Login: {{user.last_login}}</p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>