{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '::base.html.twig' %}
    {% block body %}
        <div class="row aisel-login" style="">

            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h1 class="text-center">Aisel Backend.</h1>

                <div class="jumbotron">
                    <div class="container">
                        <form action="{{ path("admin_login_check") }}" class="form-data" method="post">

                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input id="username" name="_username" type="text" class="form-control"
                                       placeholder="{{ 'security.login.username'|trans }}" required="required">
                            </div>
                            <br/>

                            <div class="input-group">
                                <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-asterisk"></span></span>
                                <input id="password" name="_password" type="password" class="form-control"
                                       placeholder="{{ 'security.login.password'|trans }}" required="required">
                            </div>
                            <br/>
                            <input type="submit" id="_submit" name="_submit" class="btn btn-primary pull-right"
                                   value="{{ 'security.login.submit'|trans }}"/>

                        </form>

                    </div>
                </div>
                <div class="pull-right copyright">
                    Copyright © Aisel 2014
                </div>

            </div>
            <div class="col-md-4">
            </div>
        </div>

    {% endblock %}
