<div class="">

    <div class="" ng-if="!loggedIn">
        <div class="page-header">
            <h2>Forgot Password ?</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4" role="main">
            <form class="form-horizontal" name="forgotForm" role="form" ng-submit="submitPasswordForgot(forgotForm)">

                <div class="form-group">
                    <label for="registerEmail">E-mail address</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="email" name="email" class="form-control" id="registerEmail" ng-model="email" ng-required="true">
                    </div>
                    <span class="error" ng-show="forgotForm.email.$error.email">Not valid email!</span>
                </div>

                {{ apiResponse }}
                <br class="divider">
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary">Send New Password</button>
                </div>
            </form>
        </div>

    </div>
</div>
