{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block side_bar_after_nav %}
    {% if is_granted('ROLE_SONATA_ADMIN') %}
        <ul class="sidebar-menu">
            <li class="treeview">
                <a onclick="javascript:location.href='{{ path('config_homepage') }}'" href="#">
                    <i class="fa fa-wrench"></i><span> Settings</span>
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
