<div class="row">
    <div class="row col-sm-12">

        <h2>Add New Page</h2>
        <div class="pull-right">
            <button type="submit" ng-click="addPage()" class="btn btn-primary">Save Page</button> &nbsp;
            <button type="submit" ng-click="closePage()"  class="btn btn-default">Cancel</button>
        </div>
        <p class="clearfix"><span class="glyphicon glyphicon-list"></span> <a ng-href="/#!/user/page/list/"> Return to page list</a></p>

        <div class="" ng-if="isAuthenticated">
            <div class="">
                <div class="" ng-if="isAuthenticated">
                    <div class="row">
                        <div class="col-sm-12">
                            <div ng-include="'app/views/core/user/page/form.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
