<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12">

        <div class="page-header">
            <h2>Edit details</h2>
            <p class=""><span class="glyphicon glyphicon-circle-arrow-left"></span> <a ng-href="/#!/user/information/">Return</a></p>

        </div>

        <div class="" ng-if="isAuthenticated">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Details</h3>
                        <form class="form-horizontal" name="registrationForm" role="form" ng-submit="submitRegistration(registrationForm)">
                            <div class="form-group">
                                <div class="col-sm-4"><label for="registerUsername">Phone</label></div>
                                <div class="col-sm-7">
                                    <input type="text" name="username" class="form-control" id="registerUsername"  ng-model="username" ng-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4"><label for="registerUsername">Website</label></div>
                                <div class="col-sm-7">
                                    <input type="text" name="username" class="form-control" id="registerUsername"  ng-model="username" ng-required="true">
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="registerUsername">About me</label>
                                <textarea class="form-control" rows="10" ng-required="true" name="message" ng-model="message" ></textarea>
                            </div>

                            <br class="divider">
                            <div class="form-group col-sm-12">
                                <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-6">
                        <!--<div class="bs-callout bs-callout-info">-->
                        <h3>Social Networds</h3>
                        <div class="well">

                            <form class="form-horizontal" name="registrationForm" role="form" ng-submit="submitRegistration(registrationForm)">

                                <div class="form-group">
                                    <div class="col-sm-4"><label for="registerUsername">Facebook</label></div>
                                    <div class="col-sm-8">
                                        <input type="text" name="username" class="form-control" id="registerUsername"  ng-model="username" ng-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><label for="registerUsername">Twitter</label></div>
                                    <div class="col-sm-8">
                                        <input type="text" name="username" class="form-control" id="registerUsername"  ng-model="username" ng-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><label for="registerUsername">LinkedIn</label></div>
                                    <div class="col-sm-8">
                                        <input type="text" name="username" class="form-control" id="registerUsername"  ng-model="username" ng-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><label for="registerUsername">Google +</label></div>
                                    <div class="col-sm-8">
                                        <input type="text" name="username" class="form-control" id="registerUsername"  ng-model="username" ng-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><label for="registerUsername">GitHub</label></div>
                                    <div class="col-sm-8">
                                        <input type="text" name="username" class="form-control" id="registerUsername"  ng-model="username" ng-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><label for="registerUsername">Behance</label></div>
                                    <div class="col-sm-8">
                                        <input type="text" name="username" class="form-control" id="registerUsername"  ng-model="username" ng-required="true">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="" ng-if="!isAuthenticated">
            Guest
        </div>
    </div>
</div>
