<div class="">
    <div class="col-md-12 page-header">
        <h2>Order #{{orderId}}</h2>
        <p class=""><span class="glyphicon glyphicon-circle-arrow-left"></span> <a ng-href="/{{locale}}/user/orders/">Back to orders</a></p>
    </div>
    <div class="" ng-if="isAuthenticated">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <!-- Order Details -->
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-info-sign"></span> #{{orderDetails.id}} / {{orderDetails.status}} / {{orderDetails.grandtotal}} {{currency}}<br/><br/>
                            <span class="glyphicon glyphicon-calendar"></span> {{orderDetails.created_at | date:"MM/dd/yyyy @ h:mma" }}<br/>
                            <hr>
                        </div>

                        <!-- Order Items -->
                        <div class="col-md-12">
                            <div ng-if="orderDetails.item.length > 0">
                                <div class="cartItem" ng-repeat="item in orderDetails.item">
                                    <div class="col-md-2">
                                        <img class="img-rounded"
                                             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9Ijc0LjA0Njg3NSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L2c+PC9zdmc+"
                                             data-holder-rendered="true" style="width: 100%;">
                                    </div>
                                    <div class="col-md-5">
                                        <h4>{{item.name}}</h4>
                                    </div>
                                    <div class="col-md-1">
                                        {{item.qty}}
                                    </div>
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                                <div class="alert  alert-warning" role="alert">{{item.price}} {{currency}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar" ng-include="'/app/Aisel/User/views/sidebar.html'"></div>
        </div>
    </div>
</div>