<div class="">
    <div class="col-md-12 page-header">
        <h2>Order #{{orderId}}</h2>
        <p class=""><span class="glyphicon glyphicon-circle-arrow-left"></span> <a ng-href="/{{locale}}/user/orders/">Back to orders</a></p>
    </div>
    <div class="" ng-if="isAuthenticated">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <p>Order details</p>
                    {{orderDetails}}
                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar" ng-include="'/app/Aisel/User/views/sidebar.html'"></div>
        </div>
    </div>
</div>