<div class="">
    <div class="col-xs-12 page-header">
        <h2>{{category.name}}</h2>

        <p>
            <span class="glyphicon glyphicon-calendar"></span>
            {{category.created_at |date:"MM/dd/yyyy @ h:mma" }}
        </p>

        <p ng-bind-html="category.content"></p>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="related categoryPages" ng-if="collection">
            <div class="">
                <ul class="pageList">
                    <li ng-repeat="product in collection.collection">
                        <h2>
                            <a ui-sref="productView({locale: locale, productId:product.meta_url})"
                               class="thumb">
                                {{product.name}}
                            </a>
                        </h2>

                        <div class="row">
                            <div class="col-md-3">
                                <aisel-product-images
                                        class="product-image"
                                        img-style="img-rounded"
                                        slider="false"
                                        images="product.medias">
                                </aisel-product-images>
                            </div>
                            <div class="col-md-9">
                                <p><span class="label label-warning">{{product.price}} {{currency}}</span></p>

                                <p ng-bind-html="product.content"></p>
                            </div>
                        </div>
                        <hr/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-include="'/app/Aisel/Kernel/views/pagination.html'"></div>
</div>

