<div class="">
    <div class="col-xs-12 page-header">
        <h2>{{categoryDetails.category.title}}</h2>

        <p><span class="glyphicon glyphicon-calendar"></span>
            {{categoryDetails.category.created_at | date:"MM/dd/yyyy @ h:mma" }}</p>

        <p ng-bind-html="categoryDetails.category.description"></p>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="related categoryPages" ng-if="productList">
            <div class="">
                <ul class="pageList">
                    <li ng-repeat="product in productList.collection">
                        <h2><a ui-sref="productView({locale: locale, productId:product.meta_url})" class="thumb">{{product.name}}</a>
                        </h2>

                        <div class="row">
                            <div class="col-md-3">
                                <a ui-sref="productView({locale: locale, productId:product.meta_url})"
                                   title="{{product.name}}">
                                    <div ng-repeat="image in product.images">
                                        <img class="img-rounded"
                                             ng-if="image.main_image === true"
                                             src="{{media}}{{image.filename}}"
                                             data-holder-rendered="true" style="width: 100%;">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-9">
                                <p><span class="label label-warning">{{product.price}} {{currency}}</span></p>

                                <p ng-bind-html="product.description"></p>
                            </div>
                        </div>
                        <hr/>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-6">
                <pagination ng-if="productList.total > 0" on-select-page="pageChanged(page)"
                            items-per-page="{{pageLimit}}" total-items="productList.total"
                            page="paginationPage"></pagination>
            </div>
            <div class="col-xs-6 col-md-6">
                <p class="pull-right"><strong>Total: {{productList.total}} Current: {{paginationPage}}</strong>
                </p>
            </div>
        </div>
    </div>
</div>

