<div class="">
    <div class="col-xs-12 page-header">
        <h2>{{product.name}}</h2>
    </div>
    <div class="col-md-4">
        <aisel-product-images class="product-image"
                img-style="img-rounded"
                images="product.medias">
        </aisel-product-images>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>
                    {{product.created_at | date:"MM/dd/yyyy @ h:mma" }}
                </p>
                <h4>
                    <span class="label label-warning">{{product.price}} {{currency}}</span>
                </h4>
            </div>
            <div class="col-md-12">
                <button type="button"
                        ng-click="addToCart(product.id, 1)"
                        ng-disabled="isDisabled"
                        class="btn btn-success">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                </button>
            </div>
            <div class="col-md-12">
                <br/>
                <p ng-bind-html="product.description"></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="related-categories" ng-if="product.nodes">
            <hr/>
            <p><strong>Product categories: </strong></p>
            <ul class="categoryList">
                <li ng-repeat="category in product.nodes">
                        <span class="label label-primary">
                            <a ui-sref="productCategoryView({locale: locale, categoryId:category.meta_url})">{{ category.title }}</a>
                        </span>&nbsp;
                </li>
            </ul>
        </div>
        <div ng-if="showComments" disqus="product.meta_url"></div>
    </div>
</div>
