/***********
    Loading messages
***********/
.cg-notify-message {
    position: fixed;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;

    top: -50px;
    z-index: 9999;
    border: 1px solid rgb(240, 195, 109);
    background-color: rgb(249, 237, 190);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px 2px 8px;
    -webkit-transition: top 0.5s ease-out, opacity 0.5s ease-out 4s;
    -moz-transition: top 0.5s ease-out, opacity 0.5s ease-out 4s;
    -o-transition: top 0.5s ease-out, opacity 0.5s ease-out 4s;
    transition: top 0.5s ease-out, opacity 0.5s ease-out 4s;
}

.cg-notify-message .cg-notify-close {
    display: none;
}

.loading-interceptor {
    position: fixed;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    text-align: center;

    top: 3px;
    z-index: 9999;
    border: 1px solid rgb(240, 195, 109);
    background-color: rgb(249, 237, 190);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px 2px 8px;
    -webkit-transition: top 0.5s ease-out, opacity 0.5s ease-out 4s;
    -moz-transition: top 0.5s ease-out, opacity 0.5s ease-out 4s;
    -o-transition: top 0.5s ease-out, opacity 0.5s ease-out 4s;
    transition: top 0.5s ease-out, opacity 0.5s ease-out 4s;
}

body #loading-bar .bar {
    background: #657496;
}

body #loading-bar .peg {
    display: none;
}

/***********
    Body
***********/
body {
    overflow-y: scroll;
}

body .website-content {
    color: #999;
}

body .pagination-info {
    display: block;
    text-align: right;
}

body a {
    color: #657496;
}

body .pagination > .active > a,
body .pagination > .active > a:hover,
body .pagination > .active > a:focus,
body .pagination > .active > span,
body .pagination > .active > span:hover,
body .pagination > .active > span:focus,
body .panel-primary > .panel-heading,
body .label-primary {
    background-color: #657496;
    border-color: #657496;
}

body .panel-primary {
    border-color: #657496;
}

.btn-primary {
    background-color: #657496;
    border-color: #657496;
}

.btn-primary:active,
.btn-primary:hover {
    background-color: #586583;
    border-color: #586583;
}

/***********
    Header
***********/
.navbar {
    border-radius: 0;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand {
    color: #999999;
    background: #657496 !important;
    height: 50px;
    padding: 7px 10px;
    margin-right: 10px;
    margin-left: 0 !important;
}

.header-logo {
    height: 40px;
}

.navbar-header .navbar-search .search-query:hover {
    color: #000;
    background-color: #fff;
}

.navbar-search .search-query {
    padding: 4px 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #bbb;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/***********
    General
***********/
.website-content .page-header {
    margin-top: 0;
}

.related-categories {
}

.related-categories a {
    color: #fff;
}

.pageList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.featurette-divider {
    margin: 80px 0;
}

.website-content {
    min-height: 500px;
}

.categoryList {
    padding-left: 0;
}

.categoryList li {
    float: left;
    margin-right: 5px;
    font-size: 0.9em;
}

/***********
    Reviews
************/
.categoryList .heading {
    font-weight: bold;
    font-size: 16px;
}

.categoryList .content {
    text-align: justify;
}

/***********
    Categories
************/

.categoryTree .nodes {
    padding-left: 10px;
}

.categoryTree ul, .categoryTree ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categoryTree ul ul {
    margin-left: 10px;
}

.categoryTree ul li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(../images/node.png) no-repeat;
    color: #369;
    font-weight: bold;
}

.categoryTree ul li:last-child {
    background: #fff url(../images/lastnode.png) no-repeat;
}

.featurette-divider {
    margin: 80px 0;
}

/***********
    Footer
************/
footer {
    margin-top: 30px;
    clear: both;
    float: left;
    width: 100%;
}

.website-footer {
    padding: 10px 0;
    color: #999;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.website-footer .availableLocales {
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

.website-footer .availableLocales .label-locale {
    float: left;
}

.website-footer .availableLocales .list {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.website-footer .availableLocales li {
    float: right;
    margin-left: 5px;
    font-weight: bold;
    text-transform: capitalize;
}

.website-footer ul {
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
}

.website-footer .copyright {
    float: right;
}

/***********
    User
************/
.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.user-navbar {
    margin-right: 5px;
}

.gavatar-navbar {
    margin-right: 5px;
    margin-top: -2px;
}

.gavatar-userdetails {
    margin-bottom: 10px;
}

/***********
    Cart
************/
.tableHeading {
    font-weight: bold;
}

.cartItem {
    text-align: left;
}

/***********
    Checkout
************/
.checkout .form-group {
    margin-bottom: 0;
}

/***********
 Homepage
************/
.homepage-content .jumbotron {
    text-align: center;
    background-color: transparent;
}

/***********
New Products
************/

.new-products .col-lg-4 {
    margin-bottom: 20px;
}

.new-products h2 {
    font-weight: normal;
}

.new-products .item .new-product-image {
    width: 150px;
    float: left;
}

/***********
New Products
************/

.new-pages .col-lg-4 {
    margin-bottom: 20px;
}

.new-pages h2 {
    font-weight: normal;
}