<div class="page-header">
    <h2>{{categoryDetails.category.title}}</h2>
</div>

<p><strong>Date:</strong> {{categoryDetails.category.created_at | date:"MM/dd/yyyy @ h:mma" }}</p>
<hr/>
<p>{{categoryDetails.category.description}}</p>


<div class="related categoryPages" ng-if="categoryDetails.pages">
    <hr/>
    <p><strong>Related pages: </strong></p>
    <ul class="categoryList">
        <li ng-repeat="page in categoryDetails.pages">
            <a ng-href="#!/page/{{page.metaUrl}}">{{ page.title }}</a>
        </li>
    </ul>
</div>
