<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <div class="page-header">
            <h2>Blog listing</h2>
        </div>

        <div class="col-md-12">
            <ul class="pageList">
                <li ng-repeat="page in pageList.pages">
                    <h2><a href="#!/page/{{page.metaUrl}}/" class="thumb">{{page.title}}</a></h2>
                    <p>{{page.content}}</p>
                    <p><span class="glyphicon glyphicon-calendar"></span> {{page.createdAt | date:"MM/dd/yyyy @ h:mma" }}</p>
                    <hr/>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <pagination ng-if="pageList.total > 0" on-select-page="pageChanged(page)" items-per-page="{{pageLimit}}" total-items="pageList.total"  page="paginationPage"></pagination>
        </div>
        <div class="col-md-6">
            <p class="pull-right"><strong>Total pages: {{pageList.total}} Current: {{paginationPage}}</strong></p>
        </div>
    </div>


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

        <div class="sidebar" ng-include="'views/main/sidebar.html'"></div>

    </div>

</div>