<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12">

        <div class="page-header">
            <h2>Edit Page: {{ postId}}</h2>
        </div>
        <div class="" ng-if="isAuthenticated">
            <div class="col-xs-12 col-sm-9">
                <p>...</p>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="sidebar" ng-include="'views/user/sidebar.html'"></div>
            </div>
        </div>
    </div>
</div>
