<div class="row row-offcanvas row-offcanvas-right">
        <div class="page-header">
            <h2>Edit: {{ pageDetails.title }} </h2>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Save</button> &nbsp;
                <button type="submit" class="btn btn-primary">Save & Exit</button> &nbsp;
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="submit" class="btn btn-default">Cancel</button>
            </div>
            <p class="clearfix"><span class="glyphicon glyphicon-list"></span> <a ng-href="/#!/user/page/list/">Page list</a></p>
        </div>


        <div class="col-md-10">
            <p>{{pageDetails.content}}</p>

            <div class="related pageCategories" ng-if="pageDetails.categories">
                <hr/>
                <p><strong>Related categories: </strong></p>
                <ul class="categoryList">
                    <li ng-repeat="category in pageDetails.categories">
                        <a ng-href="#!/category/{{category.url}}">{{ category.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
</div>
