<div class="col-xs-12 page-header">
    <h2>Search results for: "{{queryText}}"</h2>
</div>
<div class="col-xs-12">
    <div class="form-group">
        <label for="searchQuery">Search</label>
        <input id="searchQuery" class="form-control"  ng-search-redirect="{{search}}" ng-model="search" placeholder="Enter query ..." class="form-control">
    </div>
    <hr/>

    <ul class="pageList">
        <li ng-repeat="page in results.pages">
            <h2><a ui-sref="pageView({locale: locale, pageId:page.meta_url})" class="thumb">{{page.title}}</a></h2>
            <p>{{page.content}}</p>
            <p><span class="glyphicon glyphicon-calendar"></span>  {{page.created_at | date:"MM/dd/yyyy @ h:mma" }}</p>
            <hr/>
        </li>
    </ul>
    <div class="col-md-6">
        <pagination ng-if="results.total > 0"  on-select-page="pageChanged(page)" items-per-page="{{limit}}" total-items="results.total"  page="paginationPage"></pagination>
    </div>
    <div class="col-md-6">
        <p class="pagination-info pagination"><strong>Total results: {{results.total}} Current: {{paginationPage}}</strong></p>
    </div>
</div>