<div class="form-group">
    <label for="metaTitle">Meta URL</label>
    <input name="metaTitle"
           id="metaTitle"
           type="text"
           class="form-control"
           ng-required="true"
           ng-model="item.meta_url">
</div>
<div class="form-group">
    <label for="metaDescription">Meta Description</label>
    <input name="metaDescription"
           id="metaDescription"
           type="text"
           class="form-control"
           ng-required="true"
           ng-model="item.meta_description">
</div>
<div class="form-group">
    <label for="metaKeywords">Meta Keywords</label>
    <input name="metaKeywords"
           id="metaKeywords"
           type="text"
           class="form-control"
           ng-required="true"
           ng-model="item.meta_keywords">
</div>