<div class="form-group">
    <label for="userId">Id</label>
    <input name="userId"
           id="userId"
           disabled
           type="text"
           class="form-control"
           ng-required="true"
           ng-model="item.user.id">
</div>

<div class="form-group">
    <label for="userEmail">Email</label>
    <input name="userEmail"
           id="userEmail"
           disabled
           type="text"
           class="form-control"
           ng-required="true"
           ng-model="item.user.email">
</div>