{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
        
{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a><span class="divider">/</span></li>
    <li class="active">Custom Page</li>
{% endblock %}
    
{% block content %}
    <h1>Custom Page</h1>
    Custom content
{% endblock %}