<div class="">
        <div class="col-xs-12 page-header">
            <h2>{{pageDetails.page.title}}</h2>
            <p><span class="glyphicon glyphicon-calendar"></span> {{pageDetails.page.created_at | date:"MM/dd/yyyy @ h:mma" }}</p>
        </div>

        <div class="col-xs-12 col-md-12">
            <p ng-bind-html="pageDetails.page.content"></p>

            <div class="related pageCategories" ng-if="pageDetails.categories">
                <hr/>
                <p><strong>Related categories: </strong></p>
                <ul class="categoryList">
                    <li ng-repeat="category in pageDetails.categories">
                        <a ng-href="#/category/{{category.url}}">{{ category.title }}</a>
                    </li>
                </ul>
            </div>
            <div ng-if="showComments" disqus="pageDetails.page.meta_url"></div>

        </div>
</div>

