<div class="">
    <div class="col-xs-12 page-header">
        <h2>Categories</h2>
        </div>

        <div class="col-xs-12 col-md-12">
            <ul class="pageList">
                <li ng-repeat="category in categoryList.categories">
                    <h2><a href="#!/category/{{category.meta_url}}/" class="thumb">{{category.title}}</a></h2>
                    <p ng-bind-html="category.description"></p>
                    <hr/>
                </li>
            </ul>
            <div class="col-xs-6 col-md-6">
                <pagination ng-if="categoryList.total > 0" on-select-page="pageChanged(page)" items-per-page="{{pageLimit}}" total-items="categoryList.total"  page="paginationPage"></pagination>
            </div>
            <div class="col-xs-6 col-md-6">
                <p class="pull-right pagination"><strong>Total categories: {{categoryList.total}} Current: {{paginationPage}}</strong></p>
            </div>
        </div>

</div>