<div class="col-xs-12 page-header">
    <h2><span class="glyphicon glyphicon glyphicon-user"></span> Sign In</h2>
</div>
<div class="modal-body">
    <div class="row">
        <!-- Form Fields -->
        <div class="col-md-12" role="main">
            <div class="col-md-12">
                <form class="form-horizontal" name="loginForm" role="form" ng-submit="login(email, password)">
                    <div class="form-group">
                        <label for="signInEmail">E-mail</label>

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input ng-model="email" type="text" class="form-control" id="signInEmail"
                                   ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="signInPassword">Password</label>

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            <input ng-model="password" type="password" class="form-control" id="signInPassword"
                                   ng-required="true">
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </div>
                </form>
                <div class="form-group pull-left">
                    <div class="row">
                        <button class="btn btn-default" ng-click="passwordForgot()">Forgot password</button>
                        <button class="btn btn-default" ng-click="register()">Create Account</button> or
                        <button class="btn btn-default" ng-click="$dismiss('close')">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

