<div ng-include="'/app/Kernel/Resource/views/edit/heading.html'"></div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal-edit" name="editForm" role="form">
            <tabset>
                <!-- General -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-font"></i> General Information
                    </tab-heading>
                    <div class="tab-content">
                        <div class="form-group">
                            <label for="title">Page Title</label>
                            <input type="text"
                                   name="title"
                                   id="title"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="details.item.title">
                        </div>
                        <div class="form-group">
                            <label for="content">Page Content</label>
                            <div text-angular
                                 name="content"
                                 id="content"
                                 ng-required="true"
                                 ng-model="details.item.content"
                                 name="content"></div>
                        </div>
                        <ng-include src="'/app/Kernel/Resource/views/edit/tab-fields/locale.html'"></ng-include>
                        <ng-include src="'/app/Kernel/Resource/views/edit/tab-fields/status.html'"></ng-include>
                    </div>
                </tab>

                <!-- Categories -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon glyphicon-tags"></i> &nbsp;Categories
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Kernel/Resource/views/edit/tab-fields/categories.html'"></ng-include>
                    </div>
                </tab>

                <!-- Meta -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-list"></i> Meta
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Kernel/Resource/views/edit/tab-fields/meta.html'"></ng-include>
                    </div>
                </tab>

                <!-- Dates -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-calendar"></i> Dates
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Kernel/Resource/views/edit/tab-fields/dates.html'"></ng-include>
                    </div>
                </tab>
            </tabset>
        </form>
    </div>
</div>

<hr/>
<pre>
    {{details}}
</pre>