<div ng-include="'/app/Aisel/Kernel/views/edit/heading.html'"></div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal-edit" name="editForm" role="form">
            <tabset>

                <!-- General -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-font"></i> General Information
                    </tab-heading>
                    <div class="tab-content">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text"
                                   name="name"
                                   id="name"
                                   class="form-control"
                                   ng-required="true"
                                   ng-model="item.name">
                        </div>
                        <div class="form-group">
                            <label for="description_short">Description Short</label>

                            <div text-angular
                                 name="description_short"
                                 id="description_short"
                                 ng-required="true"
                                 ng-model="item.description_short"
                                 name="content"></div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>

                            <div text-angular
                                 name="description"
                                 id="description"
                                 ng-required="true"
                                 ng-model="item.description"
                                 name="content"></div>
                        </div>
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/locale.html'"></ng-include>
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/status.html'"></ng-include>
                    </div>
                </tab>

                <!-- Images -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon glyphicon-picture"></i> &nbsp;Images
                    </tab-heading>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-md-1">
                                <strong>Id</strong>
                            </div>
                            <div class="col-md-2">
                                <strong>Image</strong>
                            </div>
                            <div class="col-md-2">
                                <strong>Title</strong>
                            </div>
                            <div class="col-md-2">
                                <strong>Decription</strong>
                            </div>
                            <div class="col-md-2">
                                <strong>Created At</strong>
                            </div>
                            <div class="col-md-2">
                                <strong>Updated At</strong>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <hr/>

                        <div ng-repeat="image in item.images">
                            <div class="row">
                                <div class="col-md-1">
                                    {{image.id}}
                                </div>
                                <div class="col-md-2">
                                    <a href="{{domain}}{{image.filename}}" target="_blank">
                                        <img src="{{domain}}{{image.filename}}" width="70" height="70"/>
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="image.title">
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="image.description">
                                </div>
                                <div class="col-md-2">
                                    {{image.created_at}}
                                </div>
                                <div class="col-md-2">
                                    {{image.updated_at}}
                                </div>
                                <div class="col-md-1">
                                    <span ng-click="fileDelete(image.id)" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>
                            <br/>
                        </div>
                        <hr/>

                        <div flow-init="{target: uploadPath}"
                             flow-files-submitted="$flow.upload()"
                             flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                             flow-drag-enter="style={border:'4px solid green'}"
                             flow-drag-leave="style={}"
                             flow-file-success="fileUploaded($file, $message, $flow)">

                            <div class="drop" flow-drop ng-class="dropClass">
                                <span class="btn btn-default"
                                      flow-btn>Upload Image</span>
                                <span class="btn btn-default"
                                      flow-btn
                                      flow-directory
                                      ng-show="$flow.supportDirectory">Upload Folder of Images</span>
                                <b>OR</b>
                                Drag And Drop your images here
                            </div>
                            <br/>

                            <div class="uploaded-files">
                                <div ng-repeat="file in $flow.files" class="gallery-box">
                                    <div class="flow-thumbnail">
                                        <span class="title">{{file.name}}</span>
                                        <div class="thumbnail" ng-show="$flow.files.length">
                                            <img flow-img="file" />
                                        </div>
                                        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                            <div class="progress-bar" role="progressbar"
                                                 aria-valuenow="{{file.progress() * 100}}"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"
                                                 ng-style="{width: (file.progress() * 100) + '%'}">
                                                <span class="sr-only">{{file.progress()}}% Complete</span>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                                Remove
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <br/>

                            <div class="well flow-toolbar">
                                <a class="btn btn-small btn-success" ng-click="$flow.resume()">Resume all</a>
                                <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause all</a>
                                <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel all</a>
                                <span class="label label-info">Total Size: {{$flow.getSize()}} bytes</span>
                            </div>
                        </div>
                    </div>
                </tab>

                <!-- Categories -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon glyphicon-tags"></i> &nbsp;Categories
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/categories.html'"></ng-include>
                    </div>
                </tab>

                <!-- Meta -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-list"></i> Meta
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/meta.html'"></ng-include>
                    </div>
                </tab>

                <!-- Dates -->
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-calendar"></i> Dates
                    </tab-heading>
                    <div class="tab-content">
                        <ng-include src="'/app/Aisel/Kernel/views/edit/field/dates.html'"></ng-include>
                    </div>
                </tab>
            </tabset>
        </form>
    </div>
</div>