<div class="">
    <div class="col-xs-12 page-header">
        <h2>{{item.page.title}}</h2>
    </div>
    <div class="col-xs-12 col-md-12">
        <p><span class="glyphicon glyphicon-calendar"></span> {{item.page.created_at | date:"MM/dd/yyyy @ h:mma" }}</p>
        <p ng-bind-html="item.page.content"></p>
        <div class="related-categories" ng-if="item.categories">
            <hr/>
            <p><strong>Page categories: </strong></p>
            <ul class="categoryList">
                <li ng-repeat="category in item.categories">
                        <span class="label label-primary">
                            <a ui-sref="pageCategoryView({locale: locale, categoryId:category.url})">{{ category.title }}</a>
                        </span>&nbsp;
                </li>
            </ul>
        </div>
        <div ng-if="showComments" disqus="item.page.meta_url"></div>
    </div>
</div>

