<div class="col-md-12 page-header">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <h2 style="margin:0">{{sectionName}}</h2>
            </div>
            <div class="col-md-8 nav-buttons">
                <div class="pull-right">
                    <button type="submit" id="btnExpandAll" class="btn btn-sm btn-primary">Expand All</button>
                    <button id="btnCollapseAll" class="btn btn-sm btn-warning">Collapse All</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <aisel-fancy-tree></aisel-fancy-tree>
    </div>
</div>