<div>
    <div class="form-group">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Menu</div>
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-user"></span>
                    <a ui-sref="userInformation({locale: locale})">Dashboard</a>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <a ui-sref="orders({locale: locale})">Orders</a>
                </li>
            </ul>
        </div>
    </div>
</div>